h1{
    font-family: fantasy;
    font-size: xx-large;
    color: aqua;
}
h2{
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}


.img-same-width{
    width: 300px;;
}